@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: black;
  font-family: "Nunito Sans";
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.layout {
  width: 100%;
  justify-content: center;
  align-content: center;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 64px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: none;
}
header a {
  text-decoration: none;
}
.brand {
  display: flex;
  flex-direction: space-evenly;
  height: 100%;
  color: #ba9860;
  align-items: center;
  align-content: center;
  font-weight: 600;
  margin: 0 24px;
}

.app-button {
  display: flex;
  flex-direction: space-evenly;
  height: 100%;
  align-items: center;
}

.app-button-icon {
  padding: 2px 8px;
  box-sizing: content-box;
  text-decoration: none;
  color: white;
  align-self: center;
}

.app-button-icon:hover {
  cursor: pointer;
  color: #ba9860;
}

.app-button-link {
  background: rgba(48, 48, 48, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #ba9860;
  height: 36px;
  width: 18vw;
  font-weight: 600;
  max-width: 128px;
  cursor: pointer;
  margin: 0 24px 0 12px;
  box-shadow: 0 0 8px 4px rgba(120,120,120,0.6);
  text-decoration: none;
}

.app-button-link:hover {
  box-shadow: 0 0 8px 4px #ba976067;
  background: rgba(8, 8, 8, 0.8);
}

.nav-links {
  color: inherit;
}

.nav-links a {
  color: silver;
  margin: 0 8px;
  font-size: 16px;
  padding: 2px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #BA9860;
}

.policy-page {
  margin: 48px 32px;
  max-width: 800px;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 100%;
  }
  .nav-links {
    display: none;
  }
}
