/* App-wide styles */
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* End app-wide styles */

/* Navigation Styles */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  height: 8vh;
  min-height: 64px;
  background: black;
  color: white;
  align-content: center;
  position: static;
}

.nav-main {
  align-items: center;
  display: flex;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-brand_img {
  width: 48px;
  height: 48px;
  margin-right: 2px;
  display: inline-flex;
}

.nav-brand_a {
  font-size: 16px;
  color: #cc9966;
  text-decoration: none;
  margin-right: 8px;
  display: inline-flex;
}

@media (max-width: 548px) {
  .nav-brand_a {
      display: none;
  }
}

.nav-links > a {
  margin: 0 12px;
  text-decoration: none;
  color: white;
}

.nav-links > a:hover {
  color: #cc9966
}

/* End Navigation styles */

/* Homepage styles */

/* Hero styles */

.hero {
  padding: 0 36px;
  height: 80vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content_title {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.hero-content_subtitle {
  color: #CC9966;
  font-size: 24px;
  margin: 0;
}

.hero-links {
  display: flex;
  margin-top: 12px;
}

.hero-links > * {
  margin-right: 12px;
}

.hero-links_a {
  color: white;
  text-decoration: none;
}

.hero-links_a:hover {
  color: #CC9966
}

/* End Hero styles */

/* Homepage Features styles */

.features {
  display: flex;
  background: black;
  justify-content: space-evenly;
  align-content: center;
  min-height: 96px;
  height: 12vh;
}

.feature-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  font-size: 16px;
}

.feature-icon {
  margin-top: 12px;
  font-size: 28px;
}

/* End Homepage Features styles */

/* End Homepage Styles */

/* Learn Page Styles */

.learn-flex {
  display: flex;
  font-size: 16px;
}

.learn-flex-nav {
  background: black;
  padding: 1vh 4px;
  min-height: 88vh;
  height: 100%;
}

.learn-content {
  padding: 2vw 4vw;
}

/* End Learn Page Styles */

/* Pools Page Styles */

.pool-list-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 24px 2vw;
}

.pool-list-commands {
  display: flex;
  width: 100%;
}

.pool-list-commands_button {
  margin-right: 12px
}

.pool-list-commands_button:hover {
  border-color: #CC9966
}

.pool-list_a {
  color: white;
  text-decoration: none;
  font-size: 14px
}

.pool-list_a:hover {
  color: #cc9966
}

/* End Pools Page Styles */

/* Pool Form Styles */

.pool-form {
  margin-top: 24px
}

.pool-form-assets {
  margin: 24px 0;
  padding: 12px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}

.pool-form-assets:hover {
  border: 1px solid #cc9966
}

.pool-form-assets_h3 {
  font-weight: 300;
  margin: 12px 0;
}

.pool-form-assets_dropdown {
  margin-bottom: 24px;
}

.pool-form-assets_slider {
  margin-bottom: 24px;
}

.pool-form-assets-buttons {
  display: flex;
  justify-content: space-between;
}

.pool-form-assets-address {
  font-size: 14px;
  margin-bottom: 18px;
}

.pool-form-assets_button {
  width: 40%;
  min-width: 120px;
}

.pool-form_toggle {
  margin: 12px 0;
}

.pool-form-warning {
  color: red;
  font-size: 16px
}

/* End Pool Form Styles */

/* Pool Details Styles */

.manage-pool {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pool-details {
  padding: 24px 2vw;
  width: 60%;
  min-width: 440px
}

.pool-graph {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 35%;
  min-width: 440px;
}

.pool-details_h1 {
  font-size: 28px;
  font-weight: 400
}

.pool-details_h4 {
  font-size: 18px;
  font-weight: 300
}

.pool-details-breakdown {
  padding: 8px 2vw;
  border: 1px solid #cc9966;
  border-radius: 4px;
  margin-bottom: 24px;
}

.pool-details-breakdown_h2 {
  font-weight: 500
}

.pool-details-breakdown-item {
  margin: 24px 0;
}

.pool-details-breakdown-item_h3 {
  font-weight: 400;
  margin: 0
}

.pool-details-breakdown-item_h5 {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 400
}

.pool-details-value {
  padding: 8px 2vw;
  border: 1px solid #CC9966;
  border-radius: 4px
}

.pool-details-value_h3 {
  font-weight: 400;
}

pool-details-user-value_h2 {
  font-weight: 400
}

.pool-actions {
  width: 100%;

}

.pool-actions_button {
  width: 164px;
  border: 1px solid #CC9966;
}

@media (max-width: 900px) {
  .pool-details_h1 {
    font-size: 18px
  }
  .pool-details_h4 {
    font-size: 14px
  }
}

/* End Pool Details styles */

/* Account Panel Styles */

.account-panel_span {
  color: red;
}